</head>
<body>
  <nav>

    <span style="font-size: 48px; color: Dodgerblue;">
      <a href="/">
        <i class="fa-solid fa-plane-departure fa-l"></i>
      </a>
    </span>
  
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>

    <a 
      href="/flights/index" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>